/* Meyer's Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */ */

/* Gen Styles */

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 100%;;
}

html {
    font-size:62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1;
}

h1,h2,h3{
    letter-spacing: 3px;
}

body {
    background-color: rgb(38, 38, 97);
    border:5px solid white;
}

.top-banner {
    background-color: rgb(238, 46, 46);
    width: 98%;
    border-radius: 20px;
    margin: 0 auto;
}

h1 {
    color: #f4f4f4;
    font-size: 40px;
    font-weight: bold;
    padding:30px;
}

a {
    color: rgb(14, 212, 212);
}

/* side bar */

.main {
    display: flex;
    width:99%;
    justify-content: space-evenly;
}

.sidebar{
    background: teal;
    height:50%;
    border-radius: 25px;
    font-size: 25px;
    width:18%;

}

.maincontent {
    width: 75%;
    background: rgb(22, 21, 27);
    color:rgb(228, 228, 220);
    font-size: 25px;
    border-radius: 30px;
    padding:25px;
    margin-bottom: 30px;
}

span {
    color: rgb(114, 92, 212);
}

.bottom{
    background: gray;
    font-size: 25px;
    padding: 10px;
    margin-top:100px;
    margin-bottom: 15px;
    width:97%;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.bottom p {
    color:rgb(228, 228, 220);
}